$header_background: white;
$header_links: #3c3d41;
$header_links_hover: #3c3d41;

$footer_background: #3c3d41;
$footer_links: #d2d1d1;
$footer_links_hover: white;
$footer_text: white;

@import 'header';
@import 'footer';
